@font-face {    
  font-family: 'Tyro Inked';
  src: url('./tyroInked.otf') format('otf');
  src: url('./tyroInked.otf') format('opentype');
  src: url('./tyroInked.woff2') format('WOFF2');
}

/* cpanel editor warned that * is notoriously slow so I need to redesign this without using asterisk */
* {
  margin: 0;
  padding: 0;
  font-family: 'Tyro Inked';
  font-size: 28px;
  /*
  color: hsla(210, 100%, 69%, 0.8);
  background-color: #070a16; */
  text-decoration: none;
  }

/* scrollbar applies globally */
  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

/* end global css */
html {
  height: 100%;
}
body {
  
  color: hsla(210, 100%, 69%, 1);
  background: linear-gradient(169deg, #fb50c9 25%, #07d669 25% 75%, #1c92f5 75% 100%);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
  padding-top: 3vw;
}

/* nav bar css start */

#navBar, #navButtons a {
  color:hsla(150, 100%, 50%, 1);
}

  .resizedLogo {
    height: 1.5em;
    width: 1.5em;
    align-items: center;
    display: flex;
  }

 #navBar {
  width: 100%;
  height: 2em;
  z-index: 100px;
  display: flex;
  z-index: 10;
  background-color:hsla(260, 50%, 4%, 0.9) ;
  top: 0em;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  color:hsla(210, 100%, 69%, 0.2);
  position: fixed;
}
#navButtons {
  display: inline-flex;
  background-color: hsla(30,0%,0%,0.9);
  text-decoration: none;
}

#navBar a:hover, #navBar a:focus {
  color:hsl(148, 94%, 43%);
}
a:visited {
  color:hsl(318, 96%, 65%);
}
a:link {
  color: hsl(207, 92%, 54%);
}
a:hover, a:focus {
  color:hsl(148, 94%, 43%);
  text-shadow:2px 2px 3px hsla(260, 50%, 4%, 0.9);
}

/* trying to get a nav bar animation is going terriblyyyy 
.navAnimation {
  opacity: 0;
  display: flex;
  position: relative;
  left: -9rem;
  max-height: 2rem;
  width: 10rem;
  z-index: 0;
  background-color: hsla(0,0,0,0);

}
.navAnimation:hover, .navAnimation:focus {
  opacity: 1;
}
*/


/* nav bar css end */



/* header css start */

h1 {
  text-align: center;
  margin: 0.8rem;
}
h2 {
  text-align: center;
  line-height: 40px;
  margin-bottom: -1rem;
}
h3 {
  text-align: center;
  line-height: 40px;
  margin-bottom: -2.2rem;
}

header {
  height: 1em;
  font-size: 48px;
  padding-top: 0.3em;
  padding-bottom: 0.8em;
  font-weight: bolder;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  text-shadow:3px 3px hsla(260, 5%, 20%, 0.8);

 align-content: center;
  justify-content: center;
  align-items:center;
  text-align: center;
  z-index: 50;
}

/* when I put the h1/div section into the header this started breaking
have to figure out how to get this behind the pink again 
tempfix by pushing it down below the pink*/
header::after {
  /* this used to be the diagonal green lines */
}

/* header css end  */


p {
  padding: 1em;
}

/* pulltabs css, needs to be little corner shaped tabs to pull down to a page turning animation and link internally */
.pullTabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width: 95%;
  height: 2em;
  bottom: 20px;
  margin-bottom: -0.18rem;
}
.pTab {
  margin: auto;
  padding: 0 1.0em;
  height: 1.5em;
  width: 7.0em;
  border: 2px solid hsla(150, 100%, 50%, 1);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.8em;
  background:hsla(300, 69%, 50%, 1);
  border-bottom-color:hsla(210, 100%, 69%, 1);
  text-align: center;
}
.pullCorner {
  position: relative;
  right: -7.3em;
  bottom: 50px;
  width: 0.8em;
  height: 0.8em;
  border-bottom-left-radius: 0.3em;
  border-top-right-radius: 0.8em;
  background-color: hsla(150, 100%, 50%, 1)
 /* transition: height 600ms ease-in;
*/
}
.pullCorner:hover { 
  /*this idea is a work in progress lmao i want
   to kind of grow to the bottom left 
  as if you were starting to pull it downward */
/*
  height: 1.6em;
  transition: max-height 600ms ease-in 600ms;
*/
  transform: scale(2) translateX(-0.1em) translateY(0.1em);
/* if you pull from the corner maybe it should do a more diagonal
page turn than if you click from the tab itself, which would pull a little narrower down. */
}

/* pulltab css ends */


.lightBackground {
  background-color:hsla(210, 95%, 69%, 1);
  border-radius: 1.5em;
  display: inline-flex;
  max-width: 100vw;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  z-index: -70;
  margin: 0 2.5% 2rem 2.5%;
  flex-wrap: wrap;
}
/* why is 4 doing the 3rd, but 3 does the second ??? */
.lightBackground:nth-of-type(3) {
  background-color:hsla(150, 100%, 50%, 1);
}
.lightBackground:nth-of-type(5) {
  background-color:hsla(300, 69%, 50%, 1);
}

.smallArea{
  height: 350px;
  width: 350px;
}

.rounded {
  display: inline-flex;
  border-radius: 1.5rem;
  margin: 1rem;
}
.divideContainer {
  color:hsla(260, 50%, 4%, 0.9), 
}
.fiftySplitContainer{
  display: flex; 
}
.flexContainer {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.green {
  background-color:hsla(150, 100%, 30%, 1);
}
.yellow {
  background-color:hsla(50, 100%, 40%, 1);
}
.red {
  background-color:hsla(0, 100%, 30%, 1);
}
.gray {
  background-color: hsla(190, 20%, 10%, 1);
}
.green, .yellow, .red, .gray {
  
  border-radius: 1rem;
  padding: 1rem;
}
/*
.header:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 20%;
    bottom: 0;
    left: 0;
    background: red;
    }
}
stack overflow before button 
*/


/*writing pages css start */
.page {
  display: inline-block;
  min-height: 10em;
  max-height: 40em;
  width: 25em;
  padding: 20px;
  margin: 10px;
  margin-left: 20px;
  padding-bottom: 40px;
  color: #070a16;
  background-color: #c7b5b5;
  border-style: solid;
  border-color: #d4bcb2;
  border-top-width: 5px;
  border-right-width: 15px;
  border-left-width: 5px;
  border-bottom-width: 15px;
  border-radius: 15px;
  overflow: scroll;
}
  /* want to get rounded borders in here but can't figure out how, 
  only top left border gets rounded by default for some reason */
.linedNotebook /*page. maybe this should be the default page?*/ {
  /* page color- hsl(116, 12%, 75%)
      blue lat lines - hsl(227, 14%, 40%)
      red vert line - hsl(16, 35%, 57%) */

      /* -45deg , transparent 0 20px,hsla(150, 69%, 50%, .2)20px 40px  green zebra to compare*/
  background-image: repeating-linear-gradient(to right, transparent 0 59px, hsla(16, 35%, 57%)  59px 60px, transparent 60px 100%),
                         repeating-linear-gradient(to bottom, hsl(116, 12%, 93%) 0 45px, transparent 45px 98%, hsl(116, 12%, 93%) 98% 100%),
                         repeating-linear-gradient(to bottom, hsl(116, 12%, 93%) 0 39px, hsla( 227, 20%, 50%, 1)  39px 40px);
  padding-top: 0px;
  padding-left: 75px;
  line-height: 40px;
  border: none;
  background-attachment: local;
}
.linedNotebook h2 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.dark /*page*/{
  background-color: #544b4c;
  border-color: #5c443a;
  overflow:hidden;
}

.skinnyPage {
  max-width: 10em;
}

/*writing pages css end*/



/* footer start */
footer {
  display: flex;
  align-content:center;
  justify-content: flex-end;
  text-align: right;
  color: hsla(210, 100%, 69%, 0.2);
  font-size: 18px;
  padding: 1em;
}

.smolText {
  font-size: 20px;
}

/* footer end */

/* general commands */
.centeredText {
  text-align: center;
}

ul {
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

.playButton::onclick {
}

/* page specific stuff */


/* counting to a million specific stuff */

.watermarkTitle {
  font-weight: bolder;
  font-size: 42px;
  color:hsla(260, 5%, 20%, 0.8);
  transform: rotate(85deg);
  position: fixed;
}
/* these don't really work when you shrink the window */
.leftCol {
  left: 7vw;
  bottom: 9vw;
}
.centerCol {
  left: 35vw;
  bottom: 9vw;
}
.rightCol {
  right: 29.5vw;
  bottom: 9vw;
}
/* end of counting to a million stuff */

/*
  .test {
    display: inline-block;
    background-image: linear-gradient(to right, #1c92f5, #f61bb9, #07d669, #1c92f5);
    color: transparent;
    height: 69px;
    width: 69px;
    */
/*
    NOTHING BELOW HERE WORKS
    animation: slide 10s linear infinite;
  }
  @keyframes .slide{
    0% {
      transform: translate3d(0,0,0);
    }
    100%{
      transform: translate3d(-1000px, 0, 0);
    }
  }*/
  /*
  .box {
    width: 69px;
    display: inline-block;
    background-image: linear-gradient(to right, #f61bb9, #07d669, #1c92f5, #f61bb9);
    background-position: right;
  }
  .space {
    width: 69px;
    display: inline-block;
    background-image: linear-gradient(to right, #07d669, #1c92f5, #f61bb9, #07d669);
    align: right;
  }
  */
/*
colors I like - 
need to make conversions to HSL (HSLA?)
 snow leopard brown - #9d8d73 and #ac9471
 poly magenta - #f61bb9
 poly med green - #07d669
 poly corn blue - #1c92f5
 trans baby blue - #5bcefa
 trans baby pink - #f5a9b8
 light purple from codecademy -{hsl(240, 100%, 80%), #9a9bff}
     


reds
  pikabless red: #763443
  crimson: #7a0019
  blood red: #bb0a1e
  imperial red: #ed2939
  DHL Magenta: #e80860
  tulip red: #d8342b

blues
  carolina blue: #0cb7fc
  almost-periwinkle: #82b1f3
  kazuren grayish: #add8e6
  just blue: #0000ff
  DHL blue: #0a7dfe
  Ocean blue: #0077be
  Oceanic: #1d5a6c
  Hawaii (pale) Turquoise: #4b8da2
  Dark Blue: #050785
  Burple: #5c00ff
  good ol Cyan: #00ffff
  dark navy: #121831
  really dark navy: #080c1b
  almost-black navy: #070a16
  
yellows
  pikabless light: #f0f7e7
  pikabless med: #f8e070
  pikabless dark: #ce9e00
  just yellow: #ffff00
  heart yellow: #fdcb58
  tulip yellow: #ecd853

pinks
  shiny dratini: #c480af
  DHL: #fda7fe
  pom pom: #e4a0f7
  pinkier pink: #f781be
  subs hot pink: #f06de9
salmon pinks
  Indian Summer: #be7868
  soft red: #f88379
  salmon: #ff9999
  tulip pink: #dd55dd
  cherry blossom pink: #e6b9da

purples
  real periwinkle: #ccccff
  Tyler periwinkle: #e6e6fa
  Wills periwinkle: #ccc9e0
  glove light peri: #c4c0ce
  lavender: #a87ae7
  medium purple: #9370db
  dark orchid: #9932cc
  dark plum: #551a8b

greens
  monstera whitish green: #9cbd88
  turquoise: #40e0d0
  med spring green: #66fcc2
  better green: #05ff9b
  like dark teal: #3a9677
  monstera light green: #58851e
  monstera light 2: #7ca63a
  dark grassy green: #4b7a43
  emerald: #3cb371
  LIT green: #00ff16
  Forest green: #0f5504
  Dark Green: #003100
  dark monstera leaf green: #263e1c
  dark monstera 2: #202d1b

oranges
  orange: #ff8c00
  channel orange: #ff7e30

poop brown: #533609
raptor gray: #36393f
*/
